@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
    html {
        @apply antialiased;
    }

    body {
        @apply min-h-screen bg-white text-slate-900;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

